.container {
    height: 80vh; /*vh is Viewport height*/
    width: 100%;
    background-color: teal;
    position: relative;
    top: 10px;
}

.first {
    height: 100px; 
    width: 100px;
    background-color: tomato;
    position: fixed;
    top: 300px;
    left: 300px;
}

.second {
    height: 100px; 
    width: 100px;
    background-color: yellowgreen;
    position: absolute; 
    left: 30px;
    bottom: 20px;
}

.third {
    height: 100px; 
    width: 100px;
    background-color: darkorange;
    position: relative;
    top: 20px;
    left: 30px;
}