.navigation {
    box-sizing: border-box;
    background-color: red;
    width: 960px;
    height: 30px;
    font-weight: bold;
    color: white;
    border-collapse: collapse;
    margin: auto;
    float: right;
}

li {
    padding-right: 30px;
    list-style-type: none;
    padding-top: 5px;
    float: right;
}

.imgDiv {
    width: 960px;
    border-collapse: collapse;
    position: relative;
    }

.tomatobox {
    background-color: tomato;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-right: 16px;
}

.tealbox {
    background-color:darkslateblue;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-right: 16px;
}

.orangeBoxText {
    background-color: orange;
    width: 300px;
    height: 250px;
    display: inline-block;
    position: absolute;
    right: 195px;
}

.greenbox {
    background-color: green;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-right: 16px;
}

.orangebox {
    background-color: orange;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-right: 16px;
}

.bitstudent{
    background-color: darkslateblue;
    width: 100%;
    height: 30px;
    margin: auto;
}

.container {
    margin: auto;
    width: 960px;
  }


.imgplaceholder {
    width: 300px;
    height: 200px;
    opacity: 0;
}

.firstrow {
    display: inline-block;
}

.firstrow, .thirdrow, .fifthrow {
    margin-right: ;
}

.secondrow > div {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    margin-right: 17px;
}

.forthrow > div {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    margin-right: 16px;
}


.sixthrow > div {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    margin-right: 15px;
}

* {
    font-size: 22px;
}

