* {
    font-size: 22px;
}

.navigation {
    box-sizing: border-box;
    background-color: red;
    text-align: right;
    width: 960px;
    height: 30px;
    font-weight: bold;
    color: white;
    border-collapse: collapse;
    margin: auto;
}

li {
    padding-right: 30px;
    list-style-type: none;
    padding-top: 5px;
    margin: auto;
}

img {
    width: 960px;
    border-collapse: collapse;
    opacity: 90%;
    position: relative;;
    }

.tomatobox {
    background-color: tomato;
    width: 300px;
    height: 200px;

}

.tealbox {
    background-color:darkslateblue;
    width: 300px;
    height: 200px;

    display: inline-block;

}

.orangeBoxText {
    background-color: orange;
    width: 300px;
    height: 250px;
    display: block;

}

.greenbox {
    background-color: green;
    width: 300px;
    height: 200px;

}

.orangebox {
    background-color: orange;
    width: 300px;
    height: 200px;

}

.bitstudent{
    background-color: darkslateblue;
    width: 100%;
    height: 30px;
    margin: auto;
}

.container {
    margin: auto;
    width: 960px;
    border: solid blue 2px;

  }

.firstRow {
    column-count: 3;
    height: 250px;
  }

.secondrow  {
    column-count: 3;
    height: 220px;
  }
  
.thirdrow {
      column-count: 3;
      height: 220px;
  }

.forthrow {
    column-count: 3;
    height: 220px;
}

.fifthrow {
    column-count: 3;
    height: 220px;
}

.sixthrow {
    column-count: 3;
    height: 220px;
}


