.container {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.child1{
    height: 400px;
    width: 400px;
    background-color: tomato;
}

.child2 {
    height: 400px;
    width: 400px;
    background-color: greenyellow;
}

.child3 {
    height: 400px;
    width: 400px;
    background-color: darkorange;
}

span {
    background-color: blueviolet;
    width: 100px;
}