.first {
    background-color: aliceblue;
}

.second {
    background-color: hotpink;
}

.third {
    background-color: blue;
}

.forth {
    background-color: aqua;
}

.fifth {
    background-color: brown;
}