.div1 {
    width: 200px;
    height: 200px;
    background-color: red;
}

.div2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.div3 {
    width: 200px;
    height: 200px;
    background-color: black;
}

.div4 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
}

.div5 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    left: 100px;
    bottom: 100px;
}

.div6 {
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
    left: 200px;
    bottom: 200px;
}

.div7 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.div8 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    right: 100px;
    top: 1350px;
    z-index: 2;
}

.div9 {
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    right: 200px;
    top: 1450px;
    z-index: 1;
}




/*
===============================================================================
Z-Index

● Creating divs
○ Create a page with three divs
○ Elements on the page should be 200px wide and 200px high
○ Each div should be of different color
○ Divs should be stacked one on top of the other

● Arranging divs
○ Copy code from the first section and create a new one
○ Position divs as presented in the example
○ Use relative position for positioning

● Rearranging divs and stacking order
○ Create one more section using html code from the first section
○ Arrange divs as shown in the example
○ This time use absolute positioning

● Change stacking order using z-index
===============================================================================
*/