img {
    height: 100px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: red;
    padding: 20px;
}

tr {
    padding: 10px 0;
    text-align: center;
}

tr:hover {
    background-color: yellow;
}

tr:nth-child(odd) {
    background-color: #CCC;
}

tr:last-child {
    border-bottom: solid 1px rgb(206, 195, 195);
}

/*
====================================================================================
Table
● Create a table with five columns and 5 rows
● Table is intended to display phone specifications
● The table should be centered on the page
● Table header row should be red
● The second column should contain images whose height should be 100px
● Each cell should have top and bottom padding of 10px
● Row background color changes to yellow on hover
● Extra task: Each odd row should have gray bg color
====================================================================================
*/