.redborder {
    border: 1px solid red;
}

#img1 {
    width: 300px;
}

#img2 {
    width: 300px;
}

#img3 {
    width: 300px;
}

#img4 {
    width: 500px;
}

#img5 {
    width: 500px;
}

#img6 {
    width: 500px;
}

