.container {
    width: 100%;
    height: 100vh;
    background-color: teal;
    display: flex;
}

.first {
    width: 400px;
    height: 400px;
    background-color: tomato;
}

.second {
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
}

.third {
    width: 400px;
    height: 400px;
    background-color: darkorange;
}