.container {
    background-image: url(./assets/field.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.stop {
    padding: 5px 20px;
    background-color: red;
    position: absolute;
    top: 60%;
    right: 1%;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
}