a{
    text-decoration: none;
}

$defaultfont: 14px;
    
a:active {
        background-color: yellow;
    }

a:visited {
        background-color: orange;
    }

a:link {
        background-color: green;
    }

a.important {
        font-weight: bolder;
    }


@for $i from 1 through 4 {
    .paragraph-#{$i} {
        font-size: $defaultfont + ($i) * 2px;
    }
}
