/*Advanced positioning (Homework) - Make dropdown menu exactly as shown on picture */

/* Dropdown Button */
.dropbtn1 {
    background-color: gainsboro;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    top: 15px;
    left: 15px;
  }

.dropbtn2 {
    background-color: orange;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    top: 15px;
    left: 15px;
  }

.dropbtn3 {
    background-color: orange;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    top: 15px;
    left: 15px;
  }

.dropbtn4 {
    background-color: orange;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    top: 15px;
    left: 15px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: nth;
  }

a:nth-child(2) {
    background-color: gainsboro;
}

.dropdown {
    background-color: orange;
    width: 98%;
    height: 80px;
    margin: 15px 20px;
}


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd;
    }
  
  /* Show the dropdown menu on hover */
  .dropbtn3:hover .dropdown-content {
      display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropbtn3:hover {
      background-color: gainsboro;
}

.wrapper {
    background-color: gainsboro;
    height: 300px;
    width: 100%;
  }